:root {
    --light-calculator-color: rgb(235, 235, 235);
    --light-num-buttons-color: rgb(255, 255, 255);
    --light-func-buttons-color: rgb(245, 245, 245);
    --light-font-color: rgb(50, 50, 50);
    --dark-calculator-color: rgb(25, 25, 25);
    --dark-num-buttons-color: rgb(100, 100, 100);
    --dark-func-buttons-color: rgb(70, 70, 70);
    --dark-font-color: rgb(200, 200, 200);
    --equal-buttons-color: rgb(100, 100, 200);

    --calculator-color: var(--light-calculator-color);
    --num-buttons-color: var(--light-num-buttons-color);
    --func-buttons-color: var(--light-func-buttons-color);
    --font-color: var(--light-font-color);
}

html,
body {
    zoom: reset;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calculator {
    background-color: var(--calculator-color);
    /* min-width: 150px; */
    /* min-height: 500px; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    padding: 0.2em;
}

.calculator__display-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    
}

.calculator__display {
    display: flex;
    justify-content: end;
    color: var(--font-color);
    /* text-align: end; */
    /* display: block; */
    width: 100%;
}

.calculator__display--small {
    align-items: end;
    font-size: 4vw;
    height: 40%;

    opacity: 50%;

}

.calculator__display--big {
    font-size: 10vw;
    overflow: hidden;
    height: 60%;
   
}

.calculator__keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.3em;
}
.calculator__button-socket{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator__button-socket--col-2{grid-column: span 2;}
.calculator__button-socket--row-2{grid-row: span 2;}

.calculator__button {
    /* min-width: 40px;
    min-height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--func-buttons-color);
    color: var(--font-color);
    font-size: 2em;
    border-radius: 0.1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow:  0 0px 10px 1px rgb(220, 220, 220);
    border: 0.01em rgb(220, 220, 220) solid;


}

/* .calculator__button:hover {
    opacity: 90%;
} */

.calculator__button:active {
    box-shadow:  0 0 0 0 rgb(200, 200, 200);
    /* box-shadow: inset 0 0 0 1px var(--calculator-color); */
    opacity: 85%;
    scale: 99.9%;
}

/* .calculator__button:hover{
    opacity: 55%;
    cursor: none;
} */

.calculator__button--is-number {
    background-color: var(--num-buttons-color);
}

.calculator__button--is-dot {
    background-color: var(--num-buttons-color);

}

.calculator__button--is-equal {
    
    background-color: var(--equal-buttons-color);
    color: var(--dark-font-color);
}

.version {
    font-size: 10px;
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

@media (orientation:landscape) {

    /* style CSS dla ekranów w orientacji poziomej */
    .calculator__display--big {
        font-size: 5vw;
    }
    .calculator__display--small{
        font-size: 3vw;
    }
    .calculator__button{
        font-size: 3vw;
    }
}

@media (orientation:portrait) {

    /* style CSS dla ekranów w orientacji poziomej */
    .calculator__display--big {
        font-size: 10vw;
    }
    .calculator__display--small{
        font-size: 6vw;
    }
}